discord.py-self[voice]==2.1.0
discord-protos==0.0.2
mcp<2
python-dotenv
playwright
hcaptcha-challenger
audioop-lts; python_version >= '3.13'
camoufox[geoip]
tls-client
httpx
pyjwt
colorama
numpy
scipy
requests
loguru
